In [1]:
import pandas as pd 
import datatable as dt 
import matplotlib.pyplot as plt 
import seaborn as sns 
import numpy as np

In [2]:
post_data = dt.fread('instagram_posts.csv', sep='\t', columns={"profile_id", "post_id", "location_id", "cts"}).to_pandas()
post_data

              post_id    profile_id   location_id                 cts
0         BXdjjUlgcgq  2.237948e+09  1.022366e+15 2017-08-06 20:06:57
1         BVg0pbolYBC  5.579335e+09  4.574268e+14 2017-06-19 09:31:16
2         BRgkjcXFp3Q  3.134296e+08  4.574268e+14 2017-03-11 20:05:03
3         BKTKeNhjEA7  1.837593e+09  4.574268e+14 2016-09-13 16:27:16
4          8-NQrvoYLX  1.131527e+09  4.574268e+14 2015-10-18 10:19:27
...               ...           ...           ...                 ...
42710192  BcpWMWGBfxh  5.556457e+09  4.574268e+14 2017-12-13 15:38:04
42710193  Ba6LZWwlCl8  3.371865e+08  4.574268e+14 2017-10-31 11:28:01
42710194  BPN0kM1hYUw  3.289886e+09  4.574268e+14 2017-01-13 20:16:37
42710195  BxsZ8nDBr-L  8.536366e+09  4.267235e+06 2019-05-20 20:07:52
42710196  BgNJ4EzHQwQ  2.219100e+09  4.574268e+14 2018-03-12 02:57:17

[42710197 rows x 4 columns]

In [3]:
post_data.isna().sum()

post_id               0
profile_id      2583292
location_id    12972772
cts                3332
dtype: int64

In [4]:
post_data = post_data.dropna()
post_data[['profile_id', 'location_id']] = post_data[['profile_id', 'location_id']].astype('int64')
post_data

C:\Users\gtrom\AppData\Local\Temp\ipykernel_2040\3601062550.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  post_data[['profile_id', 'location_id']] = post_data[['profile_id', 'location_id']].astype('int64')

              post_id  profile_id       location_id                 cts
0         BXdjjUlgcgq  2237947779  1022366247837915 2017-08-06 20:06:57
1         BVg0pbolYBC  5579335020   457426771112991 2017-06-19 09:31:16
2         BRgkjcXFp3Q   313429634   457426771112991 2017-03-11 20:05:03
3         BKTKeNhjEA7  1837592700   457426771112991 2016-09-13 16:27:16
4          8-NQrvoYLX  1131527143   457426771112991 2015-10-18 10:19:27
...               ...         ...               ...                 ...
42710192  BcpWMWGBfxh  5556457201   457426771112991 2017-12-13 15:38:04
42710193  Ba6LZWwlCl8   337186454   457426771112991 2017-10-31 11:28:01
42710194  BPN0kM1hYUw  3289886053   457426771112991 2017-01-13 20:16:37
42710195  BxsZ8nDBr-L  8536366360           4267235 2019-05-20 20:07:52
42710196  BgNJ4EzHQwQ  2219099766   457426771112991 2018-03-12 02:57:17

[28625055 rows x 4 columns]

In [5]:
# Changing object type column to datetime
post_data['cts'] = pd.to_datetime(post_data.cts)
# Creating new column with just the date
post_data['date'] = post_data['cts'].dt.date
post_data = post_data.drop('cts', axis=1)
post_data

C:\Users\gtrom\AppData\Local\Temp\ipykernel_2040\1002409095.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  post_data['cts'] = pd.to_datetime(post_data.cts)
C:\Users\gtrom\AppData\Local\Temp\ipykernel_2040\1002409095.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  post_data['date'] = post_data['cts'].dt.date

              post_id  profile_id       location_id        date
0         BXdjjUlgcgq  2237947779  1022366247837915  2017-08-06
1         BVg0pbolYBC  5579335020   457426771112991  2017-06-19
2         BRgkjcXFp3Q   313429634   457426771112991  2017-03-11
3         BKTKeNhjEA7  1837592700   457426771112991  2016-09-13
4          8-NQrvoYLX  1131527143   457426771112991  2015-10-18
...               ...         ...               ...         ...
42710192  BcpWMWGBfxh  5556457201   457426771112991  2017-12-13
42710193  Ba6LZWwlCl8   337186454   457426771112991  2017-10-31
42710194  BPN0kM1hYUw  3289886053   457426771112991  2017-01-13
42710195  BxsZ8nDBr-L  8536366360           4267235  2019-05-20
42710196  BgNJ4EzHQwQ  2219099766   457426771112991  2018-03-12

[28625055 rows x 4 columns]

In [6]:
prof_data = dt.fread('instagram_profiles.csv', sep='\t', columns={"profile_id", "profile_name"}).to_pandas()

In [7]:
print(prof_data.isna().sum())
prof_data = prof_data.dropna()
prof_data['profile_id'] = prof_data['profile_id'].astype('int64')
prof_data

profile_id      32447
profile_name        0
dtype: int64

         profile_id      profile_name
0        4721049632       jphillip033
1         590583002         mama_haas
2        1074146658  yellowlightbreen
3        1472038842           tec1025
4        3531420803        luckyfluff
...             ...               ...
4509581  1418322351    karenarkesteyn
4509582    13407035     jornvlaeminck
4509583  6007353778           s_degol
4509584    23389895           anwilms
4509585  2088094437     arnaubassols_

[4477139 rows x 2 columns]

In [8]:
loc_data = dt.fread('instagram_locations.csv', sep='\t', columns={"id", "name", "cts"}).to_pandas()
loc_data

,id,name,cts
0,110296492939207,"Playa de Daimuz - Valencia, EspaÃ±a",2019-05-29 01:21:29.987
1,274391278,NovÃ¡ Vieska,2019-05-29 01:21:38.037
2,148885595789195,Everest Today,2019-05-29 01:21:46.295
3,263258277,BULAC - BibliothÃ¨que universitaire des langues...,2019-05-29 01:21:54.355
4,406147529857708,ABC Cable Networks Group,2019-04-02 15:22:55.703
...,...,...,...
1022653,873926439475785,Baby Season,2019-05-29 01:20:57.078
1022654,390707529,Cueva Carvajal,2019-05-29 01:21:04.434
1022655,1205466612894741,The Cheesecake Factory,2019-05-29 01:21:13.404
1022656,286794844,Plimmer Towers,2019-05-29 01:21:21.628
1022657,554330673,Ð¡Ñ‚Ð°Ñ€Ñ‹Ðµ Ð‘Ð¸Ñ€ÑŽÐ»Ð¸,2019-05-29 02:07:00.772

In [9]:
loc_data.isna().sum()

id      0
name    0
cts     0
dtype: int64

In [10]:
# Changing object type column to datetime
loc_data['cts'] = pd.to_datetime(loc_data.cts)
# Creating new column with just the date
loc_data['date'] = loc_data['cts'].dt.date
loc_data = loc_data.drop('cts', axis=1)
loc_data

,id,name,date
0,110296492939207,"Playa de Daimuz - Valencia, EspaÃ±a",2019-05-29
1,274391278,NovÃ¡ Vieska,2019-05-29
2,148885595789195,Everest Today,2019-05-29
3,263258277,BULAC - BibliothÃ¨que universitaire des langues...,2019-05-29
4,406147529857708,ABC Cable Networks Group,2019-04-02
...,...,...,...
1022653,873926439475785,Baby Season,2019-05-29
1022654,390707529,Cueva Carvajal,2019-05-29
1022655,1205466612894741,The Cheesecake Factory,2019-05-29
1022656,286794844,Plimmer Towers,2019-05-29
1022657,554330673,Ð¡Ñ‚Ð°Ñ€Ñ‹Ðµ Ð‘Ð¸Ñ€ÑŽÐ»Ð¸,2019-05-29

In [16]:
prof_post_data = post_data.merge(prof_data, on = 'profile_id')
prof_post_data

,post_id,profile_id,location_id,date,profile_name
0,BXdjjUlgcgq,2237947779,1022366247837915,2017-08-06,andylund_
1,BeyPed5hKj9,2237947779,30776247,2018-02-04,andylund_
2,Bunhd1DFVAG,2237947779,1022366247837915,2019-03-05,andylund_
3,Bppi85gliQK,2237947779,1022366247837915,2018-11-01,andylund_
4,BuDfIyslzfw,2237947779,669787846510176,2019-02-19,andylund_
...,...,...,...,...,...
13646360,BKJFe7mjAV3,550703154,720640031,2016-09-09,baraxolka_krd_lider
13646361,BKI_EMBjwAT,550703154,720640031,2016-09-09,baraxolka_krd_lider
13646362,BKI-1DmD6cR,550703154,720640031,2016-09-09,baraxolka_krd_lider
13646363,BKIs7d-jmf2,550703154,720640031,2016-09-09,baraxolka_krd_lider
13646364,BjPU_T2Fb0s,1247126160,251937895668188,2018-05-26,iamlykafaye

In [19]:
prof_post_data = prof_post_data[prof_post_data['location_id'].isin(loc_data['id'])]
prof_post_data

,post_id,profile_id,location_id,date,profile_name
0,BXdjjUlgcgq,2237947779,1022366247837915,2017-08-06,andylund_
1,BeyPed5hKj9,2237947779,30776247,2018-02-04,andylund_
2,Bunhd1DFVAG,2237947779,1022366247837915,2019-03-05,andylund_
3,Bppi85gliQK,2237947779,1022366247837915,2018-11-01,andylund_
4,BuDfIyslzfw,2237947779,669787846510176,2019-02-19,andylund_
...,...,...,...,...,...
13646360,BKJFe7mjAV3,550703154,720640031,2016-09-09,baraxolka_krd_lider
13646361,BKI_EMBjwAT,550703154,720640031,2016-09-09,baraxolka_krd_lider
13646362,BKI-1DmD6cR,550703154,720640031,2016-09-09,baraxolka_krd_lider
13646363,BKIs7d-jmf2,550703154,720640031,2016-09-09,baraxolka_krd_lider
13646364,BjPU_T2Fb0s,1247126160,251937895668188,2018-05-26,iamlykafaye

In [26]:
prof_post_data = prof_post_data[prof_post_data['date'].isin(loc_data['date'])]
prof_post_data

,post_id,profile_id,location_id,date,profile_name
2,Bunhd1DFVAG,2237947779,1022366247837915,2019-03-05,andylund_
5,BxJsMDpA2yH,2237947779,263270732,2019-05-07,andylund_
7,BxZIzaQhS-o,2237947779,647411048,2019-05-13,andylund_
8,BxRZvS0gPIA,2237947779,285737681,2019-05-10,andylund_
18,BxMRhd2Ajgm,2237947779,354828045155540,2019-05-08,andylund_
...,...,...,...,...,...
13646345,Bx1BskthhEs,6665469,826688730997382,2019-05-24,kevsyim
13646346,BxofgD5ABb7,29799840,826688730997382,2019-05-19,i.am.michael.harris
13646347,Bx5nWY9C9pb,349553222,227657963,2019-05-25,kottelin_sweden
13646348,BxQSaAoBODp,4187126988,1018412151,2019-05-09,bezuidenhout_izakdaniel
13646351,ByC4I8eHXSU,537696547,720640031,2019-05-29,dsyrbu

#### AT THIS POINT I SHOULD HAVE A DATAFRAME IN WHICH USERS HAVE POSTED POSTS IN THAT LOCATION ON THE SAME DAY BUT THERE'S A PROBLEM BECAUSE THIS FINAL PROF_POST_DATA HAVE THREE TIMES ROWS THAN LOC_DATA.

#### JONAS, IF YOU CAN CHECK THIS THE POINT B IS ALMOST DONE I THINK, PLEASE. I WANT TO TRY TO FINISH EVEN IF I HAVE LESS TIME TODAY AND TOMORROW.