In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datatable as dt

## [RQ4] In most cases, we will not have a consistent dataset, and the one we are dealing with is not an exception (ex. in the given datasets, you may not find the information of the profiles for some of the posts). So let’s enhance our analysis.

- ## Write a function that, given a profile_id, will be able to return the posts that belong to the given profile_id.

In [2]:
prof_data = dt.fread('instagram_posts.csv', sep='\t', columns={"profile_id", "post_id", "numbr_likes", "number_comments"}).to_pandas()
prof_data = prof_data.dropna()
prof_data

              post_id    profile_id  numbr_likes  number_comments
0         BXdjjUlgcgq  2.237948e+09         80.0              0.0
1         BVg0pbolYBC  5.579335e+09         25.0              1.0
2         BRgkjcXFp3Q  3.134296e+08          9.0              0.0
3         BKTKeNhjEA7  1.837593e+09          4.0              0.0
4          8-NQrvoYLX  1.131527e+09          8.0              0.0
...               ...           ...          ...              ...
42710192  BcpWMWGBfxh  5.556457e+09         74.0              0.0
42710193  Ba6LZWwlCl8  3.371865e+08         49.0              0.0
42710194  BPN0kM1hYUw  3.289886e+09         18.0              0.0
42710195  BxsZ8nDBr-L  8.536366e+09         27.0              1.0
42710196  BgNJ4EzHQwQ  2.219100e+09       1824.0             49.0

[40126905 rows x 4 columns]

In [3]:
prof_post = prof_data[['post_id', 'profile_id']]
prof_post

              post_id    profile_id
0         BXdjjUlgcgq  2.237948e+09
1         BVg0pbolYBC  5.579335e+09
2         BRgkjcXFp3Q  3.134296e+08
3         BKTKeNhjEA7  1.837593e+09
4          8-NQrvoYLX  1.131527e+09
...               ...           ...
42710192  BcpWMWGBfxh  5.556457e+09
42710193  Ba6LZWwlCl8  3.371865e+08
42710194  BPN0kM1hYUw  3.289886e+09
42710195  BxsZ8nDBr-L  8.536366e+09
42710196  BgNJ4EzHQwQ  2.219100e+09

[40126905 rows x 2 columns]

In [4]:
prof_post['profile_id'] = prof_post['profile_id'].astype('int64')
prof_post

C:\Users\gtrom\AppData\Local\Temp\ipykernel_408\4157435481.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prof_post['profile_id'] = prof_post['profile_id'].astype('int64')

              post_id  profile_id
0         BXdjjUlgcgq  2237947779
1         BVg0pbolYBC  5579335020
2         BRgkjcXFp3Q   313429634
3         BKTKeNhjEA7  1837592700
4          8-NQrvoYLX  1131527143
...               ...         ...
42710192  BcpWMWGBfxh  5556457201
42710193  Ba6LZWwlCl8   337186454
42710194  BPN0kM1hYUw  3289886053
42710195  BxsZ8nDBr-L  8536366360
42710196  BgNJ4EzHQwQ  2219099766

[40126905 rows x 2 columns]

In [5]:
def f1(id_prof):
    return prof_post[prof_post['profile_id'] == id_prof][['profile_id','post_id']]

Try it

In [6]:
f1(prof_post['profile_id'].loc[0])

          profile_id      post_id
0         2237947779  BXdjjUlgcgq
773482    2237947779  BeyPed5hKj9
2868573   2237947779  Bunhd1DFVAG
2868706   2237947779  Bppi85gliQK
3730200   2237947779  BuDfIyslzfw
29715661  2237947779  BxJsMDpA2yH
29715667  2237947779  Bt5LFpZlm3z
29715668  2237947779  BxZIzaQhS-o
29715669  2237947779  BxRZvS0gPIA
29715769  2237947779  BwygkNCAShv
29715770  2237947779  Bwm7hEKHBzs
29715771  2237947779  BwYuE0cghyB
29715772  2237947779  BwGuhAoFSWj
29715779  2237947779  BwBj2vhFuGH
29715780  2237947779  Bw_XgfXA9YT
39961173  2237947779  Bw3nuV6ACyY
40304341  2237947779  BwJS1H9lfiJ
41441812  2237947779  Bf6avRfheG1
41878656  2237947779  BxMRhd2Ajgm
42710139  2237947779  Be93_r7Bnhq
42710140  2237947779  BtNaOjolj_n
42710141  2237947779  BkMhROUhNbu
42710142  2237947779  BeOMICahv0d
42710143  2237947779  BeUrXsoB0ou
42710145  2237947779  BvLnQ5QFHAs
42710146  2237947779  BrZjxHllTd9
42710147  2237947779  BeCp_INhyoh
42710161  2237947779  BqjeI31lw-y
42710174  2237947779  BoQpcWQB-gC
42710175  2237947779  Bn1k1odAXa5
42710176  2237947779  BmaTjjpBTG9
42710177  2237947779  BmNSg2ih5ex
42710178  2237947779  BkjvPM1Bpxa
42710179  2237947779  Bg22N6AhebK
42710180  2237947779  BgS2rd4BozM
42710181  2237947779  Bc6jrZIHttD
42710182  2237947779  BgDZmg1D0If
42710183  2237947779  Bf-QTObhSmW

- ## Write another function that, given an input n (an integer), will return the posts that belong to the n top posted profiles (top n profiles that have posted the highest number of posts) that their data is available in the profile.csv using the previously written function.

In [7]:
prof_data1 = dt.fread('instagram_profiles.csv', sep='\t', columns={"profile_id", "n_posts"}).to_pandas().dropna()
prof_data1['profile_id'] = prof_data1['profile_id'].astype('int64')
prof_data1

         profile_id  n_posts
0        4721049632    170.0
1         590583002   2878.0
2        1074146658    431.0
5         145064167    590.0
6        2061867521    753.0
...             ...      ...
4509578  4038738066    576.0
4509579   184061156    193.0
4509580  4070370466     30.0
4509581  1418322351    497.0
4509584    23389895    183.0

[3447698 rows x 2 columns]

In [8]:
def f2(n):
    profiles = prof_data1.sort_values("n_posts", ascending=False)
    n_top_prof = profiles.head(n)
    top_posts = [f1(row.profile_id) for row in n_top_prof.itertuples()]
    n_top_posts = pd.concat(top_posts)
    return n_top_posts

         profile_id   n_posts
3990313   199664772  183730.0
2571453  8563366588  142428.0
4338921  1273455368  126340.0
3942129     9813508  125220.0
4219642  1607309412  117262.0
2207897  1087613619  117099.0
4313908  1603889832  113780.0
4219476   218172998  113182.0
4236057   285549744  112777.0
1631526  8312603412  112723.0

Try it

In [9]:
f2(2)

          profile_id      post_id
9592952    199664772  Bq3hP3Khp8J
9592953    199664772  Bq3hN53hUsD
9592954    199664772  BCqCe9LypeF
9592955    199664772   20Wu4zypd2
9592956    199664772  BrKq76AhadU
9592957    199664772  Bq_MjFzB_Wt
9592958    199664772  Bq_MiKhhP05
9592959    199664772  BpQ2cmKF-W0
9592960    199664772   3V4OeXypTT
9592961    199664772  BzUmjr2pgni
9592962    199664772  BzUmictJSO1
9592963    199664772  BzUmhW0pjrN
9592964    199664772  BzUmgscJEK4
9592965    199664772  BzUmgBYJzoS
9592966    199664772  BzUmfZspDqA
9592967    199664772  BzUmejDptYx
9592968    199664772  BzUmdnupYxW
9592969    199664772  BzUmcZRpTTn
9593158    199664772  BzScUjhJiwK
9593159    199664772  BzRkojLJBMQ
9593160    199664772  BzRkmb3JXea
24956847  8563366588  BxJpvMrpl0n
24978956  8563366588  BxJpeX2pXeN
24979865  8563366588  BxJptNSpk6g
24979875  8563366588  BxJpzW4J6Aq
24979879  8563366588  BxJpgQMJa66
24979938  8563366588  BxJp2qgpVJo
24979946  8563366588  BxJpxSLp4rB
24979961  8563366588  BxJpcZ0JRqN
24979983  8563366588  BxJp4i3pArJ
24980045  8563366588  BxJpq3dppxY
24980073  8563366588  BxJp6dVJvtO
24980074  8563366588  BxJposzpeA7
24980075  8563366588  BxJpmohpwK2
24980076  8563366588  BxJpkrrJ0b3
24980077  8563366588  BxJpijSJd_f

- ## What is the average number of "likes" and comments of the top 10 profiles with the highest number of posts which their information is available in profile.csv?

In [18]:
top_profile = prof_data1.sort_values("n_posts", ascending=False)
top_profiles = top_profile.head(10)
top_profiles

         profile_id   n_posts
3990313   199664772  183730.0
2571453  8563366588  142428.0
4338921  1273455368  126340.0
3942129     9813508  125220.0
4219642  1607309412  117262.0
2207897  1087613619  117099.0
4313908  1603889832  113780.0
4219476   218172998  113182.0
4236057   285549744  112777.0
1631526  8312603412  112723.0

In [17]:
ten_prof_post = prof_data.merge(top_profiles, on="profile_id")
ten_prof_post[['profile_id', 'numbr_likes', 'number_comments', 'n_posts']] = ten_prof_post[['profile_id', 'numbr_likes', 'number_comments', 'n_posts']].astype('int64')
ten_prof_post

         post_id  profile_id  numbr_likes  number_comments  n_posts
0    ByAFx7gnNhZ  1607309412            1                0   117262
1    BxtZ7__Fosq  1607309412            0                0   117262
2    ByB2YpbnoZs  1607309412            4                0   117262
3    BwUPb5dFZCR  1607309412            1                0   117262
4    ByJwLb5nTZ-  1607309412            0                0   117262
..           ...         ...          ...              ...      ...
351  BxJp6dVJvtO  8563366588            0                0   142428
352  BxJposzpeA7  8563366588            0                0   142428
353  BxJpmohpwK2  8563366588            0                0   142428
354  BxJpkrrJ0b3  8563366588            0                0   142428
355  BxJpijSJd_f  8563366588            0                0   142428

[356 rows x 5 columns]

In [19]:
ten_prof_post = ten_prof_post.sort_values("n_posts", ascending=False)
ten_prof_post

         post_id  profile_id  numbr_likes  number_comments  n_posts
248  BzUmcZRpTTn   199664772            3                0   183730
240  BzUmjr2pgni   199664772           11                0   183730
249  BzScUjhJiwK   199664772           17                0   183730
247  BzUmdnupYxW   199664772            3                0   183730
246  BzUmejDptYx   199664772            2                0   183730
..           ...         ...          ...              ...      ...
301  BxaB30IgGSQ   285549744            3                0   112777
300  BxEnfSMg51M   285549744            5                0   112777
299  BxMkLBdASp7   285549744            1                0   112777
298  BxzPLBmAZmj   285549744            3                0   112777
279  BxMDBXTgUEj   285549744            4                0   112777

[356 rows x 5 columns]

In [21]:
print(f" This is the DataFrame containing the average values of likes and comments of the ten profiles with the most posts: ")
avg_data = ten_prof_post.groupby('profile_id').mean().sort_values("n_posts", ascending=False)
avg_data[['numbr_likes', 'number_comments']] = round(avg_data[['numbr_likes', 'number_comments']], 3)
avg_data

 This is the DataFrame containing the average values of likes and comments of the ten profiles with the most posts:

            numbr_likes  number_comments   n_posts
profile_id
199664772         7.667            0.000  183730.0
8563366588        0.000            0.000  142428.0
1273455368        2.960            0.040  126340.0
9813508           0.296            0.000  125220.0
1607309412        1.541            0.000  117262.0
1087613619        2.026            0.184  117099.0
1603889832        6.478            0.045  113780.0
218172998         0.400            0.040  113182.0
285549744         3.922            0.000  112777.0

- ## Plot the number of posts that these top 10 profiles have sent on Instagram in the given interval in question RQ3. Interpret the resulting chart.

In [ ]:
time_data = dt.fread('instagram_posts.csv', sep='\t', columns={'profile_id', 'cts'}).to_pandas().dropna()
time_data['cts'] = time_data['cts']

In [22]:
df2 = f2(10)

In [23]:
df2

          profile_id      post_id
9592952    199664772  Bq3hP3Khp8J
9592953    199664772  Bq3hN53hUsD
9592954    199664772  BCqCe9LypeF
9592955    199664772   20Wu4zypd2
9592956    199664772  BrKq76AhadU
...              ...          ...
11565172   285549744  Bz2KZMWAzaS
11565173   285549744  Bz2KIsGguxY
11565174   285549744  Bz2JMmhA1Bv
27484079   285549744  BxR5tuQAfxT
39195221   285549744  Bxrfj8-pq-V

[356 rows x 2 columns]

In [ ]:
intervals = [("06:00:00", "10:59:59"), ("11:00:00", "13:59:59"), ("14:00:00", "16:59:59"), ("17:00:00", "19:59:59"), ("20:00:00", "23:59:59"), ("00:00:00", "02:59:59"), ("03:00:00",  "05:59:59")]