In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
posts = pd.read_csv('data/instagram_posts.csv', sep='\t', nrows=100000, usecols=['profile_id', 'cts'], parse_dates=['cts'])

In [126]:
post_times = np.empty((len(posts.profile_id.unique()), 4))

len_posts = 0

min_post_time_idx = 1
max_post_time_idx = 2
n_posts_idx = 3

for profile_id in posts.profile_id.unique():
    user_posts = posts[posts.profile_id == profile_id]
    current_min_post_time = user_posts.cts.min().timestamp()
    current_max_post_time = user_posts.cts.max().timestamp()
    n_posts = len(user_posts)

    found_row = np.where(post_times[:, 0] == profile_id)[0]

    if found_row.size == 0:
        # if no entry exists, create one
        new_row = np.array([profile_id, current_min_post_time, current_max_post_time, n_posts])
        post_times[len_posts] = new_row
        len_posts += 1                               

    else:
        index = found_row[0]
        post_times[index][min_post_time_idx] = min(current_min_post_time, post_times[index][min_post_time_idx])
        post_times[index][max_post_time_idx] = max(current_max_post_time, post_times[index][max_post_time_idx])
        post_times[index][n_posts_idx] += n_posts

In [127]:
post_times = pd.DataFrame(alll, columns=['profile_id', 'min_post_time', 'max_post_time', 'n_posts'])

post_times['avg_post_interval'] = (post_times.max_post_time - post_times.min_post_time) / post_times.n_posts
post_times = post_times[post_times.avg_post_interval > 0]

         profile_id  min_post_time  max_post_time  n_posts  avg_post_interval
24991  5.567932e+08   1.554047e+09   1.554047e+09      2.0                0.5
45590  5.641679e+08   1.558413e+09   1.558413e+09      2.0                2.0
17950  1.360019e+10   1.558739e+09   1.558739e+09      2.0                2.5
44207  8.968048e+09   1.549372e+09   1.549372e+09      2.0                3.5
58204  1.398241e+10   1.559143e+09   1.559143e+09      3.0                4.0
...             ...            ...            ...      ...                ...
31870  1.131132e+06   1.379091e+09   1.503439e+09      2.0         62173750.0
14392  5.484254e+07   1.404294e+09   1.531494e+09      2.0         63599684.0
58671  7.605579e+06   1.384339e+09   1.525366e+09      2.0         70513521.5
15485  7.794597e+06   1.417660e+09   1.559062e+09      2.0         70700952.5
25038  7.287439e+06   1.403629e+09   1.549800e+09      2.0         73085645.0

[8462 rows x 5 columns]

In [141]:
top = post_times.sort_values(by=['avg_post_interval'])