In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm

## [RQ7] Of course, calculating probabilities is a job that any Data Scientist must know. So let's compute some engaging figures.

- ## What's the probability that a posts receives more than 20% "likes" of the number of followers a user has?

We've to compare the number of likes and number of followers for each user to compute this probability, so we create a new DataFrame with these three columns in which we are interested

In [2]:
from_prof = pd.read_csv('instagram_profiles.csv', sep='\t', usecols=['sid', 'followers'])

In [3]:
from_prof = from_prof.dropna()

First DataFrame from "instagram_profiles.csv" in which we have removed NaN values

In [4]:
from_prof['followers'] = from_prof['followers'].astype(int)
from_prof

             sid  followers
0        4184446        146
1        4184457       1145
2        4184460        324
5        4184465        192
6        4184471       4137
...          ...        ...
4509578  4184455        809
4509579  4184458        599
4509580  4184463        261
4509581  4184467        481
4509584  4184473        153

[3452771 rows x 2 columns]

In [5]:
zeros = (from_prof['followers'] == 0).sum()
zeros

22115

Now we want the second DataFrame from "instagram_posts.csv" to merge it with the first one including "sid_profile"(sequence ID of the profile from Profiles) to manage to connect and compare likes and comments in order.

We calculate the probability too.

In [39]:
check = 0
from_post = pd.read_csv('instagram_posts.csv', usecols=['sid_profile','numbr_likes'], sep='\t')
from_post = from_post[['sid_profile', 'numbr_likes']][from_post['sid_profile'] != -1]
from_post

          sid_profile  numbr_likes
0             3496776         80.0
10            3303402        114.0
26            3406435         46.0
29            3529017         66.0
52            3206132       1983.0
...               ...          ...
42710181      3496776        107.0
42710182      3496776         69.0
42710183      3496776        133.0
42710188      1421602        322.0
42710196      3972555       1824.0

[27437048 rows x 2 columns]

In [40]:
from_post = from_post.dropna()
from_post

          sid_profile  numbr_likes
0             3496776         80.0
10            3303402        114.0
26            3406435         46.0
29            3529017         66.0
52            3206132       1983.0
...               ...          ...
42710181      3496776        107.0
42710182      3496776         69.0
42710183      3496776        133.0
42710188      1421602        322.0
42710196      3972555       1824.0

[27437012 rows x 2 columns]

In [42]:
from_post['numbr_likes'] = from_post['numbr_likes'].astype(int)
from_post

C:\Users\gtrom\AppData\Local\Temp\ipykernel_24844\312037113.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from_post['numbr_likes'] = from_post['numbr_likes'].astype(int)

          sid_profile  numbr_likes
0             3496776           80
10            3303402          114
26            3406435           46
29            3529017           66
52            3206132         1983
...               ...          ...
42710181      3496776          107
42710182      3496776           69
42710183      3496776          133
42710188      1421602          322
42710196      3972555         1824

[27437012 rows x 2 columns]

In [50]:
df_probs = pd.merge(from_post, from_prof, left_on = 'sid_profile', right_on = 'sid').drop('sid', axis = 1)
df_probs

          sid_profile  numbr_likes  followers
0             3496776           80       1204
1             3496776           86       1204
2             3496776          168       1204
3             3496776          102       1204
4             3496776          145       1204
...               ...          ...        ...
27134177      1355462          125       1066
27134178      1451349          117        377
27134179      3500677          147        866
27134180      1788260           58        475
27134181      1313976           76        252

[27134182 rows x 3 columns]

In [44]:
check = ((df_probs['followers'] == 0) & (df_probs['numbr_likes'] > 0)).sum()
check

2276

In [45]:
df_probs = df_probs[df_probs['followers'] != 0]
df_probs

          sid_profile  numbr_likes  followers
0             3496776           80       1204
1             3496776           86       1204
2             3496776          168       1204
3             3496776          102       1204
4             3496776          145       1204
...               ...          ...        ...
27134177      1355462          125       1066
27134178      1451349          117        377
27134179      3500677          147        866
27134180      1788260           58        475
27134181      1313976           76        252

[27130138 rows x 3 columns]

In [47]:
check2 = ((df_probs.apply(lambda x: x.numbr_likes / x.followers, axis = 1) > 0.2)).sum()
check2

4131855

In [63]:
print(f" The probability that a post receives more than 20% likes of the number of followers a user has is: {round((check + check2) / df_probs.shape[0], 5)}, so the percentage is {round((((check + check2) / df_probs.shape[0])*100), 3)}%")

 The probability that a post receives more than 20% likes of the number of followers a user has is: 0.15236, so the percentage is 15.236%